{% extends 'base.html' %} {% block content %}

<div class="row">
    {% for meal in meal_type %}
    <div class="col s12 m5">
        <div class="card red lighten-2 hoverable">
            <div class="card-image">
                <img class= "cuisine_img" src="{{meal.picture}}" class="responsive-img">
            </div>
            <div class="card-action card-action-bgcolor">
                <a href="{{url_for('meal_type_single', meal_type_name=meal.meal_type_name)}}" class="hvr-grow">{{meal.meal_type_name}}</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}
