<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'>
    <meta name="description" content="FlaskBook | A Cookbook for Pythons!">
    <meta name="author" content="Dave ODea">
    <title>Your cookbook </title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='main-css/style.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/hover.css')}}" type="text/css" />
</head>

<body class="body-custom">
    <header>
        <!-- ...................................................................................Navbar-->
        <div class="navbar-fixed">
            <nav class="nav-bar">
                <div class="container">
                    <div class="nav-wrapper">
                        <a href="{{url_for('home_page')}}" class="brand-logo logo-color">Cookbook</a>
                        <a href="#" data-activates="mobile-nav" class="button-collapse right-align">
                            <i class="material-icons">menu</i>
                        </a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li><a href="{{url_for('home_page')}}">Home</a> </li>
                            <li><a href="{{url_for('get_recipes')}}">All recipes</a> </li>
                            <li><a href="{{url_for('get_cuisine')}}">Cuisines</a> </li>
                            <li><a href="{{url_for('get_alergen')}}">Alergens</a> </li>
                            <li><a href="{{url_for('get_meal_type')}}">Restrictions</a> </li>
                            <li><a href="{{url_for('add_recipe')}}">Category</a> </li>
                            <li><a href="{{url_for('add_recipe')}}">Add recipes</a> </li>
                           
                        </ul>

                    </div>
                </div>
            </nav>
        </div>
        
        <!-- ...................................................................................SlideNavbar-->
        <ul class="side-nav" id="mobile-nav">
            <div class="mobile-nav">
                <li><a href="{{url_for('home_page')}}">Home</a> </li>
                <li><a href="{{url_for('get_recipes')}}">All recipes</a> </li>
                <li><a href="{{url_for('get_cuisine')}}">Cuisines</a></li>
                <li><a href="{{url_for('add_recipe')}}">Alergens</a> </li>
                <li><a href="{{url_for('add_recipe')}}">Restrictions</a> </li>
                <li><a href="{{url_for('add_recipe')}}">Category</a> </li>
                <li><a href="{{url_for('add_recipe')}}">Add recipes</a> </li>
                <li class="divider"></li>
            </div>
        </ul>
    </header>

    
        <!-- ...................................................................................Container-->
    <div class="container">

        {% block content %} {% endblock %}

    </div>
    <div class="fixed-action-btn" >
        <div id="btn-add"> <a class="btn-floating btn-large fab-button red" href={{url_for( 'add_recipe')}}><i class="material-icons">add</i></a></div>

    </div>


    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <!-- Font awesome -->
    <script src="https://use.fontawesome.com/d46ec8e634.js"></script>

    <!-- Custom scripts -->
    <!--..................................................................................... Materialize CSS init's -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('.collapsible').collapsible();
            $('select').material_select();
            $(".button-collapse").sideNav();
            $('.dropdown-trigger').dropdown();
            $('.materialboxed').materialbox();
            $('select').formSelect();
            $('.sidenav').sidenav();
            $('.fixed-action-btn').floatingActionButton();
            $('.slider').slider({
                full_width: true
            })
            $('.carousel.carousel-slider').carousel({
                full_width: true
            });
        });
    </script>
    <!-- .........................................................................................Add ingredients -->
    <script type="text/javascript">
        $(document).ready(function() {

            var counter = 2;

            $("#addButton").click(function() {

                if (counter > 20) {
                    alert("Only 20 textboxes allow");
                    return false;
                }

                var newTextBoxDiv = $(document.createElement('div'))
                    .attr("id", 'TextBoxDiv' + counter);

                newTextBoxDiv.after().html('<input type="text" name="ingredients" id="ingredient' + counter + '" value="" >');

                newTextBoxDiv.appendTo("#TextBoxesGroup");

                counter++;
            });

            $("#removeButton").click(function() {
                if (counter == 1) {
                    alert("No more textbox to remove");
                    return false;
                }

                counter--;

                $("#TextBoxDiv" + counter).remove();

            });

        });
    </script>



</body>

</html>
