{% extends 'base.html' %} {% block content %}

<div class="row">
    {% for c in cuisine %}
    <div class="col s12 m5">
        <div class="card red lighten-2 hoverable">
            <div class="card-image">
                <img class= "cuisine_img" src="{{c.picture}}" class="responsive-img">
            </div>
            <div class="card-action card-action-bgcolor">
                <a href="{{url_for('cuisine_single', cuisine_name=c.cuisine_name)}}" class="hvr-grow">{{c.cuisine_name}}</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}
