{% extends 'base.html' %}
{% block content %}

<div class="row">
    {% for recipe in recipes %}
    <div class="col s12 m3">
        <div class="card red lighten-2 hoverable">
            <div class="card-image all_recipes">
                <img class="all_recipes" src="{{recipe.picture}}" class="responsive-img">
                <span class="card-title">{{recipe.title}}</span>
            </div>
            <div class="card-action card-action-bgcolor">
                <a href="{{url_for('recipe_single', recipe_id=recipe._id)}}" class="hvr-grow">{{recipe.cuisine_name}}</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}   
    