{% extends 'base.html' %}
{% block content %}
<h3>Edit Recipe</h3>
<div class="row">
    <form action="{{url_for('update_recipe', recipe_id=recipe._id)}}" method="POST" class="col s12">
        <div class="row">
            <div class="row">
                <div class="input-field col s12" id="recipe_category">
                    <i class="material-icons prefix ">import_contacts</i>
                    <select id="category" name="category_name">
                  <option value="" disabled selected> Choose Category</option>
                  {% for cat in categries %}
                      {% if cat.category_name == recipe.category_name %}
                      <option value="{{cat.category_name}}" selected >{{cat.category_name}}</option>
                      {% else %}
                      <option value="{{cat.category_name}}" >{{cat.category_name}}</option>
                      {% endif %}
                  {% endfor %}
                </select>
                    <label>Category</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12" id="recipe_cuisine">
                    <i class="material-icons prefix ">more_vert</i>
                    <select id="cuisine" name="cuisine_name">
                  <option value="" disabled selected> Choose Cuisine</option>
                  {% for cui in cuisines %}
                      {% if cui.cuisine_name == recipe.cuisine_name %}
                      <option value="{{cui.cuisine_name}}" selected >{{cui.cuisine_name}}</option>
                      {% else %}
                      <option value="{{cui.cuisine_name}}">{{cui.cuisine_name}}</option>
                      {% endif %}
                  {% endfor %}
                </select>
                    <label>Cuisine</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12" id="recipe_meal">
                    <i class="material-icons prefix ">more_vert</i>
                    <select multiple id="meal" name="meal_type_name">
                  <option value="" disabled selected> Choose Restrictions</option>
                  {% for m in meal_types %}
                      <option value="{{m.meal_type_name}}">{{m.meal_type_name}}</option>
                  {% endfor %}
                </select>
                    <label>Restrictions</label>
                </div>
            </div>

            <div class="input-field col s12">
                <i class="material-icons prefix ">local_dining</i>
                <input id="title" name="title" type="text" value="{{recipe.title}}">
                <label for="icon_prefix">Recipe Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">format_list_bulleted</i>
                <textarea name="description" id="description" class="materialize-textarea" >{{recipe.description}}</textarea>
                <label for="icon_telephone">Recipe Description </label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">format_list_bulleted</i>
                <textarea name="ingredients" id="ingredients" class="materialize-textarea">{{recipe.ingredients}}</textarea>
                <label for="icon_telephone">Recipe Ingredients</label>

            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">format_align_justify</i>
                <textarea name="method" id="method" class="materialize-textarea" >{{recipe.method}}</textarea>
                <label for="icon_telephone">Instruction</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12" id="recipe_alergen">
                <i class="material-icons prefix ">more_vert</i>
                <select multiple id="alergen" name="alergen_name">
              <option value="" disabled selected> Choose Alergen</option>
              {% for a in alergens %}
                  <option value="{{a.alergen_name}}">{{a.alergen_name}}</option>
              {% endfor %}
            </select>
                <label>Alergen</label>
            </div>
        </div>
        <div class="row">
            <div class="col s6 l3 input-field">
                <input id="serves" name="serves" type="number" value="{{recipe.serves}}" required>
                <label for="recipe_serves">Serves</label>
            </div>
            <div class="col s6 l3 input-field">
                <input id="preparation_time" name="preparation_time" type="number" value="{{recipe.preparation_time}}" required>
                <label for="preparation_time">Preparation time(minutes)</label>
            </div>
            <div class="col s6 l3 input-field">
                <input id="cooking_time" name="cooking_time" type="number" value="{{recipe.cooking_time}}" required>
                <label for="cooking_time">Cooking time(minutes)</label>
            </div>
        </div>
        <div class="row">
            <div class="file-field input-field">
                <div class="btn">
                    <span>File</span>
                    <input type="file" id="picture" name="picture">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Add changes
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>

</div>


{% endblock %}