{% extends 'base.html' %}
{% block content %}
<div class="col s12 m6">
  <h2 class="header">{{recipe.title}}</h2>
  <div class="card horizontal">
    <div class="card-image">
      <img src="{{ recipe.picture}}">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>{{ recipe.description }}</p><br>
        <p><span>Serves: </span>{{ recipe.serves }}</p><br>
        <p><span>Cooking time: </span>{{ recipe.cooking_time }} minutes</p><br>
        <p><span>Preparation time: </span>{{ recipe.preparation_time}} minutes</p>
        <p><span>Cuisine: </span> {{ recipe.cuisine_name}}</p>
        <p><span>Alergen: </span>
          <ul>
            {% for alergen in recipe.alergen_name %}
            <li>{{alergen}}</li>
            {%endfor%}
          </ul>
        </p>
      </div>
      <div class="card-action">
        <a href="">This is a link</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 m6">
    <div class="card-panel teal">
      <span class="white-text">Ingredients</span>
      <ul>
        {% for ingredient in recipe.ingredients %}
        <li>{{ingredient}}</li>
        {%endfor%}
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6">
      <div class="card-panel teal">
        <span class="white-text">Method</span>
        <p>{{ recipe.method}}</p>
      </div>
    </div>
  </div>
  <a href= "{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>
  <a href= "{{url_for('delete_recipe', recipe_id = recipe._id)}}" class="waves-effect waves-light btn btn_small">Delete</a>
</div>
            









{% endblock %}   
    